[submodule "libfoo"]
        path = blah
        url = https://github.com/studioorigins/documentation.git
[submodule "documentation"]
	path = documentation
	url = https://github.com/studioorigins/documentation.git
