[submodule "libfoo"]
        path = blah
        url = https://github.com/studioorigins/documentation.git
[submodule "documentation"]
	path = documentation
	url = https://github.com/studioorigins/documentation.git
[submodule "repo"]
	path = repo
	url = https://gitlab.com/emonhub/emonhub.git
